<!DOCTYPE html>
<html lang="en" ng-app="runwayApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- bootstrap css -->
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <title>Runway App</title>

  <!-- angular -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js"></script>

  <!-- ngRoute -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-route.js"></script>

  <!-- custom script -->
  <script type="text/javascript" src="app.js"></script>
</head>
<body ng-app="runwayApp" ng-controller="MainCtrl">
  <div class="container" ng-repeat="post in posts | orderBy:'-upvotes'">
    <div class="row">
      <span ng-click="incrementUpvotes(post)">^</span>
      <div class="col-md-6 col-md-offset-3">{{post.title}} - upvotes: {{post.upvotes}}</div>
    </div>
  </div>

  <form ng-submit="addPost()">
    <input type="text" ng-model="title"></input>
    <button type="submit">Post</button>
  </form>

  
</body>
</html>